body{
	background-image: url("IMG_20230427_210927_910.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.aks{
	margin-top: 710px;
	margin-left: 170px;
	margin-bottom: 20px;
}
.aks2{
	margin-left: 170px;
	margin-bottom: 20px;
}
.aks3{
	margin-left: 170px;
	margin-bottom: 20px;
}
.aks4{
	margin-left: 170px;
	margin-bottom: 20px;
}
.aks5{
	margin-left: 170px;
}
